.signup {
  background-color: #ffffff;
  border-radius: 5px;
  /* width: 50%; */
  height: 450px;
  /* z-index: 1; */
  padding: 20px 20px 50px 20px;
  /* border: 1px solid black; */
  margin: 0 0 0 15%;
  text-align: center;
  box-shadow: 2px 2px lightgrey;
  font-size: 13px;
}

.login__CreateAct {
}
.CrtAct {
  color: #fe8302;
  text-decoration: none;
  font-size: 13px;
}
.CrtAct:hover {
  cursor: pointer;
  text-decoration: underline;
}
.login__CreateActP {
  font-size: 13px;
}
.signup input,
.signup button {
  padding: 10px 0 10px 5px;
  border: 1px solid rgb(220, 215, 215);
  border-radius: 3px;
  width: 90%;
  font-size: 12px;
}
.signup__names {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin: 0px 0 0px 4%;
  width: 92%;
}
.signup__names input:nth-child(1) {
  margin-right: 6px;
}
.signup button {
  padding: 10px 40px;
  background-color: #0062cc;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 3px;
}
.signup button:hover {
  background-color: #fe8302;
}
.signup .link {
  color: #fe8302;
  text-decoration: none;
}
.signup .link:hover {
  text-decoration: underline;
}
.signup p,
.signup link {
  font-size: 10px;
}
